//viewport
@mixin viewport-s {
  @media all and (max-width: 599.99px) {
    @content;
  }
}
@mixin viewport-m {
  @media all and (min-width: 600px) and (max-width: 899.99px) {
    @content;
  }
}
@mixin viewport-l {
  @media all and (min-width: 900px) and (max-width: 1199.99px) {
    @content;
  }
}
@mixin viewport-xl {
  @media all and (min-width: 1200px) {
    @content;
  }
}
//font-family "Spoqa Han Sans Neo"
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 100;
  src: local('Spoqa Han Sans Neo'),
  url("../assets/fonts/SpoqaHanSansNeo-Thin.woff2") format("woff2"),
  url("../assets/fonts/SpoqaHanSansNeo-Thin.woff") format("woff"),
  url("../assets/fonts/SpoqaHanSansNeo-Thin.ttf") format("truetype"),
  url("../assets/fonts/SpoqaHanSansNeo-Thin.otf") format("opentype"),
  url("../assets/fonts/SpoqaHanSansNeo-Thin.eot") format("embeded opentype");
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 300;
  src: local('Spoqa Han Sans Neo'),
  url("../assets/fonts/SpoqaHanSansNeo-Light.woff2") format("woff2"),
  url("../assets/fonts/SpoqaHanSansNeo-Light.woff") format("woff"),
  url("../assets/fonts/SpoqaHanSansNeo-Light.ttf") format("truetype"),
  url("../assets/fonts/SpoqaHanSansNeo-Light.otf") format("opentype"),
  url("../assets/fonts/SpoqaHanSansNeo-Light.eot") format("embeded opentype");
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: normal;
  src: local('Spoqa Han Sans Neo'),
  url("../assets/fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"),
  url("../assets/fonts/SpoqaHanSansNeo-Regular.woff") format("woff"),
  url("../assets/fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype"),
  url("../assets/fonts/SpoqaHanSansNeo-Regular.otf") format("opentype"),
  url("../assets/fonts/SpoqaHanSansNeo-Regular.eot") format("embeded opentype");
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  src: local('Spoqa Han Sans Neo'),
  url("../assets/fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2"),
  url("../assets/fonts/SpoqaHanSansNeo-Medium.woff") format("woff"),
  url("../assets/fonts/SpoqaHanSansNeo-Medium.ttf") format("truetype"),
  url("../assets/fonts/SpoqaHanSansNeo-Medium.otf") format("opentype"),
  url("../assets/fonts/SpoqaHanSansNeo-Medium.eot") format("embeded opentype");
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: bold;
  src: local('Spoqa Han Sans Neo'),
  url("../assets/fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
  url("../assets/fonts/SpoqaHanSansNeo-Bold.woff") format("woff"),
  url("../assets/fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype"),
  url("../assets/fonts/SpoqaHanSansNeo-Bold.otf") format("opentype"),
  url("../assets/fonts/SpoqaHanSansNeo-Bold.eot") format("embeded opentype");
}
//font-family "NIXGONEFONTS"
@font-face {
  font-family: 'NIXGONEFONTS';
  font-style: normal;
  font-weight: 300;
  src: local('NIXGONEFONTS'),
  url("../assets/fonts/NIXGONFONTS L 2.0.ttf") format("truetype"),
  url("../assets/fonts/NIXGONFONTS L 2.0.otf") format("opentype");
}
@font-face {
  font-family: 'NIXGONEFONTS';
  font-style: normal;
  font-weight: normal;
  src: local('NIXGONEFONTS'),
  url("../assets/fonts/NIXGONFONTS M 2.0.ttf") format("truetype"),
  url("../assets/fonts/NIXGONFONTS M 2.0.otf") format("opentype");
}
@font-face {
  font-family: 'NIXGONEFONTS';
  font-style: normal;
  font-weight: bold;
  src: local('NIXGONEFONTS'),
  url("../assets/fonts/NIXGONFONTS B 2.0.ttf") format("truetype"),
  url("../assets/fonts/NIXGONFONTS B 2.0.otf") format("opentype");
}
